* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header {
    margin-left: 42px;
    margin-top: 47px;
    margin-right: 32px;

}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 50%;


}

.container-right {
    display: inline-block;
    position: absolute;


}

img {
    width: 595.18px;
    height: 500px;
    margin-top: 246px;
    margin-left: 121px
}

h1 {

    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.5961538553237915px;
    text-align: left;
    color: #161A49;
    margin-top: 342px;
    margin-left: 801px;
    margin-right: 57px;
    margin-bottom: 47px;
}

p {
    width: 493px;
    height: 99px;
    margin-top: 47px;
    margin-left: 801px
}
.link {{
    margin-top: 55px;
    margin-bottom: 114px; 
    margin-left: 801px;
    margin-right: 527px


}}